body {
  background-color: #fafafa;
  color: #333;
  font-family: 'Gowun Batang', sans-serif;
  margin: 0;
  max-width: auto;
  height: 100%;
}

button {
  background-color: #ee670f;
  color: white;
  padding: 10px 30px;
  border: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 55px;
  margin: 0;
}

h3 {
  margin: 10px 0 15px 0;
}

hr {
  max-width: 25%;
  border: 1.5px solid #F86118;
}

i {
  padding: 0 5px;
}

.homecontainer {
  display: grid;
}

  /* Navigation Section */

.navbar {
  height: 110px;
}

.nav {
  max-width: 1400px;
  margin: auto;
  padding: 0 100px;
}

.logo {
  font-size: 94px;
  padding-left: 10px;
}

.navbar-links {
  padding: 40px 0 0 100px;
  float: right;
}

.navbar-item {
  padding: 0 30px;
  text-decoration: none;
}

.navbar-2 {
  background-color: #ee670f;
  color: white;
}

.nav-info {
  max-width: 1400px;
  margin: auto;
  padding: 0 100px;
}

.logo-2 {
  font-size: 1.5rem;
}

.handy-links {
  float: right;
  padding-top: 5px;
}

.handy-item {
  padding: 5px 0 0 30px;
}

  /* First Section - Trusted Solutions */

#first-section {
  background-image: url(./images/paintladder.jpg);
  background-size: cover;
}

.trusted {
  max-width: 1400px;
  margin: auto;
  padding: 100px;
}

.reasons {
  padding: 10px 0 20px 0;
  font-weight: bold;
}

  /* Second Section - Quality Handyman Services*/

#second-section {
  background-color: #333;
  color: white;
  font-size: 64px;
  text-align: center;
  padding: 35px;
  font-weight: bold;
}

.quality {
  margin: 0;
}

  /* Third Section - What We Can Do */

#third-section {
  background-image: url(./images/walltexture.jpg);
  background-size: cover;
  text-align: center;
  /* margin: auto; */
  /* max-width: 1400px; */
  padding: 100px 100px;
}

.whatcan {
  font-size: 30px;
}

.whatwecando-grid {
    display: grid;
    grid-template-areas: "card1 card2 card3 card4";
    gap: 30px;
    padding: 70px 0;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
}

.card1 > img, .card2 > img, .card3 > img, .card4 > img {
  border-bottom: 5px solid grey;
  height: 200px;
  width: 310px;
}

.card1, .card2, .card3, .card4 {
  text-align: center;
  background-color: #333;
  color: #fafafa;
  border: 5px solid grey;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

  /* Forth Section - Request Estimate*/

.request1 {
  background-image: url(./images/paintbrush.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 50%;
  float: left;
}

.request2 {
  background-color: #333;
  height: 400px;
  color: white;
  text-align: center;
  width: 50%;
  float: right;
}

.request2 > h2 {
  font-size: 96px;
  margin: 70px 0 0;
  height: 100px;
}

.request2 > h3 {
  font-size: 54px;
}

  /* Fifth Section - Process Made Easy*/

#fifth-section {
  text-align: center;
  padding: 50px;
}

.process-grid {
  display: grid;
  grid-template-areas:
  "step1 step2 step3";
  grid-gap: 100px;
  margin: auto;
  padding: 50px;
  max-width: 1400px;
  justify-content: center;
}
.step1, .step2, .step3 {
  width: 300px;
}

.step1 > h2, .step2 > h2, .step3 > h2 {
  border: 3px solid black;
  border-radius: 50%;
  padding: 15px 20px;
  width: 15px;
  margin: auto;
}

.step1 > h3, .step2 > h3, .step3 > h3 {
  color: #ee670f;
}

.step1 > i, .step2 > i, .step3 > i {
  padding: 20px;
}

.step1 {
  grid-area: step1;
}

.step2 {
  grid-area: step2;
}

.step3{
  grid-area: step3;
}

  /* Sixth Section - Testimonials*/

#sixth-section {
  background-color: #333;
  text-align: center;
}

.review-grid {
  display: grid;
  grid-template-areas: "review1 review2 review3";
  gap: 40px;
  padding: 100px 0 20px;
  justify-content: center;
}

.review1, .review2, .review3 {
  background-color: grey;
  text-align: center;
}

.review1 {
  grid-area: review1;
}

.review2 {
  grid-area: review2;
}

.review3 {
  grid-area: review3;
}

.more-reviews {
  padding: 10px 100px 70px;
}

.more-reviews > a {
  color: white;
  font-size: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #2C3447;
  padding: 30px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.snip1390 figcaption {
  width: 100%;
}

figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}

figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}

figure.snip1390 h2 {
  color: #ffffff;
}

figure.snip1390 h4 {
  color: #a6a6a6;
}

figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}

figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}

figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}

  /* Seventh Section - Gallery */

.gallery-grid {
  display: grid;
  grid-template-areas:
  "g1 g2 g3 g4"
  "g5 g6 g7 g8";
  gap: 20px;
  padding: 100px 0 100px;
  justify-content: center;
  margin: auto;
  max-width: 1400px;
}

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
    }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 320px;
    height: 310px;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  /* Eighth Section - DM Handy Label*/

#eighth-section {
  background-color: #ee670f;
  color: #fafafa;
  font-size: 50px;
  text-align: center;
  padding: 35px;
  font-weight: bold;
}

.q1, .q2 {
  display: inline;
  margin: 0;
}

.q2 {
  align: right;
  padding: 0 40px;
}

  /* Ninth Section - Frequently Asked Questions*/

#ninth-section {
  text-align: center;
  margin: auto;
  max-width: 1400px;
  padding: 60px 100px;
}

.faq-box {
  max-width: 900px;
  padding: 50px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fafafa;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  text-align: left;
  padding: 0 18px;
  margin-bottom: 5px;
  background-color: white;
  display: none;
  overflow: hidden;
  border: 1px solid lightgrey;
}

  /* Tenth Section - Banner */

#tenth-section {
  background-image: url(./images/rollingbrush.jpg);
  background-size: cover;
  height: 300px;
}

  /* Eleventh Section - Information Request */

#eleventh-section {

}

.contact-grid {
  display: grid;
  grid-template-areas: "contact1 contact2";
  justify-content: center;
  margin: auto;
  max-width: 1400px;
  padding: 100px;
}

.contact1 {
  grid-area: contact1;
  /* width: 50%; */
  justify-content: center;
  margin: auto;
}

.contact2 {
  grid-area: contact2;
  text-align: center;
  padding: 100px 100px;
  background-color: #333;
  color: white;
  font-size: 18px;
}

.contact2 > i, .contact2 > i {
  padding: 10px;
}

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    font-family: 'Gowun Batang', sans-serif;
    font-size: 18px;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    margin: 10px 0 10px;
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #ee670f;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Gowun Batang', sans-serif;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 50%;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #000000;
  }

  /* Add a background color and some padding around the form */
  .container {
    /* border-radius: 5px; */
    background-color: #333;
    padding: 20px;
  }
